<p>demo-component works!</p>
<h1>Welcome to Routing</h1>
<div class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" routerLink="home">Home</a>
            <!-- <a class="nav-link" routerLink="" routerLinkActive="active"    [routerLinkActiveOptions]="{exact: true}">Home</a> -->
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="about">About Us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="contact">Contact Us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="product">Product</a>
        </li>



        <!-- <li class="nav-item">
            <a class="nav-link" routerLink="user/10">Shaikh</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="user/20">Mohammed</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="user/30">Shahazad</a>
        </li> -->
    </ul>

</div>

<router-outlet></router-outlet>